
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}


body{
    background-color: darkblue;
    color: white;
    background-size: cover;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction:column;
justify-content: center;
box-sizing: border-box;
    scroll-behavior: smooth;


}

header{
    padding: 10px;
    position:sticky;
    top:0px;
    left: 5%;
    width: 90%;
    z-index: 10;
}

nav{
    display: flex;
        background:linear-gradient(135deg,rgba(255, 255, 255,0.1),rgba(255, 255, 255,0));
        backdrop-filter:blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 12px;
    justify-content: end;
border-radius: 20px;
    position: relative;
    height: 62px;
    align-items: center;
}

ul{
    display: flex;
justify-content: end;
}

li{
    list-style: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 100%;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a{
    color:white;
    background: black;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
}

.my-atropos, .my-atropos2 {
  width: 400px;
  background-color: transparent;
  z-index: 5;
filter: brightness(0.5);
transition: filter 0.5s;
}

.my-atropos:hover{
    filter: brightness(1);
}

.my-atropos2:hover{
    filter: brightness(1);
}

div.atropos-inner{
width: 100%;
position: relative;
}

.element{
position: absolute;
object-fit: cover;
    object-position:center center ;
    border-radius: 12px;
}

div.wrapper{
    display: flex;
    justify-content: center;
    width: 50%;

}


.el1,.el2,.el3,.el4{
top:0px;
width: 20%;
height: 18%;
}

.el1{
    width: 40%;
    height: 58%;
}


.el2{
    width: 18%;
    left: 42%;
}

.el3{
        width: 18%;
    left: 62%;
}

.el4{
        width: 18%;
    left: 82%;
}


.el5,.el6,.el7,.el8{
        left: 42%;
width: 18%;
height: 18%;
}


.el5{
top:20%;


}

.el6{
    top:40%;

}

.el7{
    top:60%;

}

.el8{
    top:80%;

}

.el9,.el10{
    width: 38%;
    top: 20%;
    left: 62%;
    height: 58%;
}

.el10{
height: 18%;
top: 80%;
}

.el11,.el12{
    top: 60%;
    height: 38%;
    width: 15%;
}

.el12{
width: 23%;
left: 17%;
}

.svg-container{
    position: absolute;
    top: 0%;
    z-index: -11;
}

.svg-line2{
    position: absolute;
    top: 10%;
    right: 30%;
    z-index: -10;
}

.svg-line2>path{
    filter: blur(2px);
}



p {
  max-width: 70ch;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.3;
}


.text-wrap-svg{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.svg-circle>path{
overflow: hidden;
}

.svg-circle>path{
overflow: hidden;
}


.svg-star{
    position: absolute;
    top: 5%;
    left: 260px;

}








div.projects{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

div.project-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

div.project-text>p{
    text-align: center;
}

section{
    max-width: 100vw;
}

section.intro{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    max-width:100vw ;
    margin-bottom: 300px;
}

div.intro-text{
    display: flex;
    justify-content: center;
    gap:30px;
    width: 100%;
    align-items: center;
}
div.intro-text>h4{
    font-weight:900;
    font-size: 65px;
    color: transparent;
    text-align: end;
    -webkit-text-stroke: 1px white;
    text-stroke:1px white;
    /* animation: glitch 1s normal infinite;
    animation-delay: 1.1s; */
    letter-spacing: 10px;
}


div.sidetwo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    padding: 0px 30px;
    gap: 20px;
}

.sidetwo>p{
    text-align: start;
    max-width: 60%;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: lighter;
    line-height: 35px;
}

.download-cv{
    background-color: transparent;
    border: 0px;
    width: 200px;
}

.download-cv>a,.download-cv>p{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(62, 232, 88,0.9);
    position: relative;
    border-radius: 0px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
scale: 1;
}


.download-cv>p{
    padding: 5px 10px;
    font-size: 15px;
    color: white;
}


.download-cv>a:active,.download-cv>p:active{
scale: 0.8;
}
.download-cv>a:active::after,.download-cv>p:active::after{
scale: 1.1;
}
.download-cv>a.after::after,.download-cv>p.after::after{
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    height: 90%;
    width: 102%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:transparent;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.socials{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}

.social-media{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

div.social-media>a,ul>li>a{
    padding: 0px;
    max-width: 15%;
        background: transparent;
    background-color: transparent;
}

div.social-media>a>svg,ul>li>a>svg{
    width: 40px;
    height: 40px;
}

div.socials>h4{
    font-weight: lighter;
    font-size: 18px;
}



img.richard{
        width: 20vw;
border-radius: 50%;
    height: 20vw;
    object-fit: cover;

}
div.about{
    padding: 60px;
    background: rgb(1, 1, 72);
    width: 90%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    top: -150px;
    left: 5%;
    z-index: 120;
}


div.about-text{
    display: flex;
    justify-content: space-between;
    gap:30px;
    width: 100%;
    align-items: center;
}

div.about-text>div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div.about-text>div>p{
text-align: start; 
width: 65vw;   
font-weight: lighter;
color: rgba(255, 255, 255, 0.7);
}



div.about-text>div>h1{
    font-size: 42px;
    -webkit-text-stroke:1px white;
    color: transparent;
    font-weight: bold;
}

div.about>p{
    text-align: start;
    max-width: 100%;
    padding: 2vw 0vw;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
}


div.info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vw;
}

div.info>p{
    width: 40%;
    text-align: start;
    display: flex;
    justify-content: start;

}

div.info>p>span{
    padding: 0px 0px 0px 20px;
    color: rgba(255, 255, 255, 0.7);
}

section.services,section.projects{
    position: relative;
    background: rgb(1, 1, 32);
    padding: 0px 10px;
}

section>h1{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 42px;
    max-width: 100%;
}

section.projects{
    padding-bottom: 100px;
}


section.projects>h1{
    margin-bottom: 60px;
}


div.service,div.project-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    margin-top: 50px;
}

div.project>img{
    width: 100%;
    opacity: 0.7;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

div.web, div.project{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background:linear-gradient( to bottom , rgb(138, 79, 7) 0%, rgb(1, 1, 32) 95% );
    box-shadow: 60px 10px 90px rgb(1, 1, 32) inset,  -60px -10px 100px rgb(1, 1, 32) inset;
    border-radius: 12px;
    height: 500px;
}

div.project{
    height: max-content;
}

div.web:nth-of-type(2),div.atropos:nth-of-type(2)>div.atropos-scale>div.atropos-rotate>div.atropos-inner>div.project,div.mobile:nth-of-type(even){
        background:linear-gradient( to bottom , rgb(53, 2, 103) 0%, rgb(1, 1, 32) 95% );
}



div.web:nth-of-type(3){
        background:linear-gradient( to bottom , rgb(3, 97, 205) 0%, rgb(1, 1, 32) 95% );
}


div.web>svg{
    width: 100px;
    height: 100px;
}

div.web>h4, div.project>h4{
  font-size: 28px;
}

section.testimonials{
    display: flex;
    justify-content: center;
    padding-top: 50px;
        background: rgb(1, 1, 32);
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 50px;
}

div.project{
    justify-content: start;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

div.skills{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

div.atropos:nth-of-type(1)>div.atropos-scale>div.atropos-rotate>div.atropos-inner>div.project>div.skills>p, div.project:nth-of-type(odd)>div.skills>p{
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 12px;
    border: 1px solid rgb(138, 79, 7);
}

div.atropos:nth-of-type(2)>div.atropos-scale>div.atropos-rotate>div.atropos-inner>div.project>div.skills>p, div.project:nth-of-type(even)>div.skills>p{
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 12px;
    border: 1px solid rgb(53, 2, 103);
}




section.testimonials>h4{
width: 100vw;
padding: 10px;
    font-size: 42px;
    -webkit-text-stroke:1px white;
    color: transparent;
    font-weight: bold;
}

.swiper{
  width: 90%;
}

.swiper-slide{
    display: flex !important;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

:root {
    --swiper-theme-color:rgba(62, 232, 88,0.9) !important;
}

div.testimonial-section-mobile{
    width: 100%;
    display: none;
}

div.testimonial-wrapper{
    display: flex;
    width: 40%;
        background: rgb(1, 1, 72);
        padding: 10px;
        border-radius:10px;
        min-height: 200px;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
}

div.testimonial-wrapper>img{
width: 100px;
height: 60px;
border-radius: 50%;
}

div.testimonial-wrapper>div{
display: flex;
flex-direction: column;
gap: 10px;
}

div.testimonial-wrapper>div>p{
    text-align: start;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 100;
        font-size: 15px;
}



div.testimonial-wrapper>div>h4{
    text-align: start;
    font-size: 20px;
}



section.get-in-touch{
        background: rgb(1, 1, 72);
        padding: 100px 10px;
        position: relative;
        overflow-x: hidden;
}

div.touch{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

div.touch>section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.7);
}

div.touch>section>p{
text-align: start;
font-size: 18px;
}

.map{
    width: 45%;
}
section.get-in-touch>div>div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 45%;
}

section.get-in-touch>div>div>p{
    color: rgba(255, 255, 255, 0.7);
    text-align: start;
}

section.get-in-touch>div>div>input{
    width: 75%;
    padding: 15px;
    border: 0px;
    background: rgb(1, 1, 32);
    outline: none;
    color: white;
}


section.get-in-touch>div>div>textarea{
    width: 100%;
    min-height: 105px;
    color: black;
    padding: 15px;
        background: rgb(1, 1, 32);
    outline: none;
    color: white;
    border: 0px;
}

div.popup-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    top: 0px;
    z-index: -20;
    display: flex;
    justify-content: center;
    opacity: 0;
    align-items: center;
    transition: all 0.9s;
}

div.popup{
    width: 35%;
    height: max-content;
    padding: 30px 0px;
        background: #FDF4DC;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        color: black;
        gap: 30px;
box-shadow:  24px 24px 68px #220466,
             -24px -24px 68px #8610ff;
}

div.popup>h2,div.popup>h2>p{
display: flex;
gap: 8px;
font-size: 32px;

}

div.mobile{
    display: none;
}


div.popup>p.profile{

background-color: black;
width:100px ;
height: 100px;
display: flex;
align-items: center;
justify-content: center;
font-size: 42px;
border-radius: 50%;
color: white;
text-transform: uppercase;
}

.get-started{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 0px;
    font-size: 18px;
    border-radius: 4px;
    z-index: 10;
}

.username{
    text-transform: capitalize;
}

p.action{
    display: flex;
    justify-content:center;
    align-items: center;

    width: 100%;
    gap: 10px;
}

p.action>svg{
fill:rgb(138, 7, 120) ;
width: 32px;
height: 32px;
}

p.action>span{
width: 70%;
text-align: start;
    font-size: 15px;
}

p.action:nth-of-type(3)>svg{
fill: rgb(3, 97, 205) ;
}


p.action:nth-of-type(4)>svg{
fill: rgba(62, 232, 88,1) ;
}


dotlottie-player{
    margin-top: -100px;
    margin-bottom: -100px;
    display: none;
    z-index: 0;
}


section.motivation{
    background-image: url("sunset.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}
section.motivation>h4{
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(0.5);
    font-size: 42px;
    text-align: center;
    line-height: 50px;
        display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
    align-items: center;
}

footer>h4{
    font-weight: bold;
    font-size: 32px;
}

footer>p{
    font-size: 18px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
}


/* HTML: <div class="loader"></div> */
div.loader {
  width: 15px;
  height: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  position: absolute;
  bottom: 5px;
  left: 50px;
  display: none;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #ffffff, -20px 0 #0002;background: #b1afaf }
    33% {box-shadow: 20px 0 #000, -20px 0 rgb(255, 255, 255);background: rgb(255, 255, 255)}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: rgb(114, 114, 114)}
    100%{box-shadow: 20px 0 rgb(255, 255, 255),-20px 0 #000; background: #000 }
}




@media only screen and (max-width:767px) {

html{
    overflow-x: clip;
}
    section.intro{
        flex-direction: column;
        width: 100%;
        padding: 0px 10px;
        gap: 10px;
        justify-content: space-evenly;
    }

    div.intro-text{

    gap:30px;
    width: 100vw;
}


img.richard{
        width: 100%;

    height: auto;

}

div.intro-text>h4{
    font-weight:100;
    font-size: 24px;
    letter-spacing: 5px;
    text-align: center;

}

div.intro-text>p{
    padding: 0px 10px;
    text-align: center;
}

div.hobbies{
width: 100%;
}


section.projects{
flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

div.project-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.project-text>p{
    text-align: center;
}

div.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;

}


svg.richard{
    width: 100px;
    height: 100px;
    position: absolute;
right: 10px;
top: 70px;
}

section.intro{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    max-width:100vw ;
    margin-bottom: 300px;
}

div.intro-text{
    display: flex;
    justify-content: center;
    gap:30px;
    width: 100%;
    align-items: center;
}
div.intro-text>h4{
    font-weight:900;
    font-size: 45px;
    color: transparent;
    text-align: start;
    -webkit-text-stroke: 1px white;
    text-stroke:1px white;
    /* animation: glitch 1s normal infinite;
    animation-delay: 1.1s; */
    letter-spacing: 10px;
}


div.sidetwo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    padding: 0px 30px;
    gap: 20px;
}

.sidetwo>p{
    text-align: start;
    max-width: 100%;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: lighter;
    line-height: 35px;
}

.download-cv{
    background-color: transparent;
    border: 0px;
    width: 200px;
}

.download-cv>a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(62, 232, 88,0.9);
    position: relative;
    border-radius: 0px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.download-cv>a.after::after{
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    height: 90%;
    width: 102%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:transparent;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.socials{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.social-media{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

div.social-media>a{
    padding: 0px;
    max-width: 8%;
        background: transparent;
    background-color: transparent;
}

div.social-media>a>svg{
    width: 10px;
    height: 10px;
}

div.socials>h4{
    font-weight: lighter;
    font-size: 18px;
}



img.richard{
        width: 20vw;
    height: 20vw;


}
div.about{
    padding: 5%;
    width: 100%;
    left: 0;
}


div.about-text{
    flex-direction: column-reverse;
    justify-content: space-between;

    align-items: start;
}


div.about-text>div>p{
width: 90vw;   
font-size: 18px;
}




div.about>p{

    font-size: 18px;
}



div.info>p{
    width: 100%;
    font-size: 16px;

}



div.info>p:nth-of-type(1)>span{
    padding: 0px 0px 0px 70px;
}

div.info>p:nth-of-type(2)>span{
    padding: 0px 0px 0px 90px;
}

div.info>p:nth-of-type(3)>span{
    padding: 0px 0px 0px 50px;
}

div.info>p:nth-of-type(4)>span{
    padding: 0px 0px 0px 60px;
}


div.info>p:nth-of-type(5)>span{
    padding: 0px 0px 0px 70px;
}

div.info>p:nth-of-type(6)>span{
    padding: 0px 0px 0px 30px;
}

section.services{
    padding: 10px 0px;
}





div.web{
    width: 95%;

}

div.web>h4{
  font-size: 28px;
}

div.testimonial-section-mobile{
    display: block;
}

div.testimonial-section-large{
    display: none;
}


div.testimonial-wrapper{
    width: 90%;

}



div.project:nth-of-type(1)>div.skills>p{
    font-size: 10px;
}


div.project:nth-of-type(2)>div.skills>p{
    font-size: 10px;
}

div.project{
    width: 100%;
    height: max-content;
}
div.my-atropos,div.my-atropos2 {
  width: 100%;
  display: none;
}

div.mobile{
    display: flex;
}



div.popup{
    width: 85vw;
}



section.get-in-touch>div>div>input{
    width: 100%;

}

section.get-in-touch>div>div>textarea{
    width: 100%;

}

div.touch{
flex-direction: column;
align-items: start;
gap: 40px;
}

.map{
    width: 100%;
}

div.touch>section{
    align-items: start;
}

section.get-in-touch>div>div{
    width: 100%;
}

section.motivation{
width: 100%;
}

section.motivation>h4{
font-size: 36px;
}


footer{
flex-direction: column;
gap: 15px;
}


}